menu "Pico robot Configuration"

config WIFI_MODE_STA
	bool "set default to sta mode"
	default y
	help
		Enable this option if you want to set wifi the sta mode.

config WIFI_STA_SSID
    string "WiFi SSID @ STA MODE"
    default ""
    help
        SSID (network name) for the demo to connect to.

config WIFI_STA_PASSWORD
    string "WiFi Password @ STA MODE"
    default ""
    help
        Password for your network.

config WIFI_AP_SSID
    string "WiFi SSID @ AP MODE"
    default "Pico-K2"
    help
        SSID (network name) for the demo to connect to.

config WIFI_AP_PASSWORD
    string "WiFi Password @ AP MODE"
    default "88888888"
    help
        Password for your network.

config WIFI_MAX_STA_CONN
	int "when the wifi is AP mode, limit the client number"
	default 1
	help
		Enable this option if you want to set wifi the sta mode.

config QR_RECOGNIZE
	bool "QR recognize Support"
	default y
	help
		Enable this option if you want to recognize qr.
endmenu

